<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.bce30cdbddb4f3ad3495.css" rel="stylesheet"></head>
=======

<link href="../../../dist/app.bb4607fd21dfa818a6f1.css" rel="stylesheet"></head>
>>>>>>> 7ccc44748e2a208d52ff5a68016516d15ce4e47e

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.bce30cdbddb4f3ad3495.js"></script></body>

</html>
